In [2]:
import pandas as pd
from nltk.tokenize import sent_tokenize, word_tokenize 
import warnings 
import nltk
#from gensim.models import Word2Vec 
#from gensim.models.wrappers import FastText 

#from gensim.models import FastText



from IPython.display import clear_output, display

from nltk.tokenize import sent_tokenize, word_tokenize 
import warnings 
import nltk 
import pandas as pd
from pandas import *
import matplotlib.pyplot as plt
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.corpus import stopwords
import re
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer() 
import re
from sklearn.feature_extraction import text
from builtins import input
from statistics import mean
from nltk import  pos_tag_sents


from statistics import mode, StatisticsError

import functools


import re
from sklearn.feature_extraction import text
global cases

from pandas import ExcelWriter
import xlsxwriter

import xlwt
from xlwt.Workbook import *


from nltk.corpus import wordnet

from statistics import *

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import numpy as np
import pandas as pd
import re
from nltk import pos_tag
from nltk.tokenize.treebank import TreebankWordDetokenizer
import seaborn as sns

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('vader_lexicon')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\gabri\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\gabri\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\gabri\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [10]:
df = pd.read_excel("USNewsArticles.xlsx")

In [11]:
df

,response.docs.pub_date,status,copyright,response.docs.abstract,response.docs.web_url,response.docs.snippet,response.docs.lead_paragraph,response.docs.print_section,response.docs.print_page,response.docs.source,...,cleanText,removed_n_gram_clean_text,sentiment_scores_vader,compound_scores_vader,negative_scores_vader,positive_scores_vader,cleanText_lower,year,month,normalized_compound
0,1981-01-03,OK,Copyright (c) 2020 The New York Times Company....,Federal officials said today that the Govern...,https://www.nytimes.com/1981/01/03/us/us-may-a...,NaN,Federal officials said today that the Governme...,1,10,The New York Times,...,federal officials said today government would ...,federal officials said today government would ...,"{'neg': 0.182, 'neu': 0.818, 'pos': 0.0, 'comp...",-0.7003,0.182,0.000,federal officials said today government would ...,1981,1,0.149780
1,1981-01-04,OK,Copyright (c) 2020 The New York Times Company....,By Michael Wright and Caroline Rand Herron U...,https://www.nytimes.com/1981/01/04/weekinrevie...,NaN,By Michael Wright and Caroline Rand Herron Unt...,4,2,The New York Times,...,michael wright caroline rand herron last week ...,michael wright caroline rand herron last week ...,"{'neg': 0.097, 'neu': 0.903, 'pos': 0.0, 'comp...",-0.4767,0.097,0.000,michael wright caroline rand herron last week ...,1981,1,0.261602
2,1981-01-04,OK,Copyright (c) 2020 The New York Times Company....,With ''descents'' rising and ''ascents'' dec...,https://www.nytimes.com/1981/01/04/weekinrevie...,NaN,With ''descents'' rising and ''ascents'' decli...,4,4,The New York Times,...,descents rising ascents declining record level...,descents rising ascents declining record level...,"{'neg': 0.149, 'neu': 0.786, 'pos': 0.065, 'co...",-0.4767,0.149,0.065,descents rising ascents declining record level...,1981,1,0.261602
3,1981-01-04,OK,Copyright (c) 2020 The New York Times Company....,Bruce Feirstein is a writer living in New Yo...,https://www.nytimes.com/1981/01/04/magazine/th...,NaN,Bruce Feirstein is a writer living in New York...,6,26,The New York Times,...,bruce feirstein writer living new york caprico...,bruce feirstein writer living n_gram _removal ...,"{'neg': 0.073, 'neu': 0.767, 'pos': 0.16, 'com...",0.8031,0.073,0.160,bruce feirstein writer living new york caprico...,1981,1,0.901630
4,1981-01-04,OK,Copyright (c) 2020 The New York Times Company....,The General Accounting Office says there app...,https://www.nytimes.com/1981/01/04/us/bogus-so...,NaN,The General Accounting Office says there appea...,1,20,The New York Times,...,general accounting office says appears growing...,general accounting office says appears growing...,"{'neg': 0.291, 'neu': 0.618, 'pos': 0.092, 'co...",-0.8845,0.291,0.092,general accounting office says appears growing...,1981,1,0.057662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11653,2019-12-23,OK,Copyright (c) 2020 The New York Times Company....,"Baby Yoda is a productivity metaphor, O.K. Boo...",https://www.nytimes.com/2019/12/23/business/ec...,"Baby Yoda is a productivity metaphor, O.K. Boo...",WASHINGTON  America made some memories in 201...,B,4,The New York Times,...,washington america made memories taylor swift ...,washington america made memories taylor swift ...,"{'neg': 0.249, 'neu': 0.629, 'pos': 0.123, 'co...",-0.6369,0.249,0.123,washington america made memories taylor swift ...,2019,12,0.181486
11654,2019-12-23,OK,Copyright (c) 2020 The New York Times Company....,The House oversight panel on Monday asked immi...,https://www.nytimes.com/2019/12/23/us/politics...,The House oversight panel on Monday asked immi...,WASHINGTON  House Democrats demanded document...,A,10,The New York Times,...,washington house democrats demanded documents ...,washington house democrats demanded documents ...,"{'neg': 0.408, 'neu': 0.592, 'pos': 0.0, 'comp...",-0.9201,0.408,0.000,washington house democrats demanded documents ...,2019,12,0.039858
11655,2019-12-24,OK,Copyright (c) 2020 The New York Times Company....,He vetoed a bill to let federal judges preside...,https://www.nytimes.com/2019/12/24/nyregion/cu...,He vetoed a bill to let federal judges preside...,ALBANY  Gov. Andrew M. Cuomos feud with Pres...,A,20,The New York Times,...,albany gov andrew cuomos feud president trump...,albany gov andrew cuomos feud president trump...,"{'neg': 0.124, 'neu': 0.876, 'pos': 0.0, 'comp...",-0.3400,0.124,0.000,albany gov andrew cuomos feud president trump...,2019,12,0.329966
11656,2019-12-30,OK,Copyright (c) 2020 The New York Times Company....,Kenneth T. Cuccinelli II said the suspect in t...,https://www.nytimes.com/2019/12/30/us/politics...,Kenneth T. Cuccinelli II said the suspect in t...,"Kenneth T. Cuccinelli II, a top immigration of...",A,16,The New York Times,...,kenneth cuccinelli top immigration official tr...,kenneth cuccinelli top immigration official tr...,"{'neg': 0.072, 'neu': 0.782, 'pos': 0.147, 'co...",0.3182,0.072,0.147,kenneth cuccinelli top immigration official tr...,2019,12,0.659132
11657,2019-12-31,OK,Copyright (c) 2020 The New York Times Company....,"A drop in immigration, fewer births and an agi...",https://www.nytimes.com/2019/12/30/us/usa-popu...,"A drop in immigration, fewer births and an agi...",Population growth in the United States crept a...,A,11,The New York Times,...,population growth united states crept along sl...,population growth n_gram _removal crept along ...,"{'neg': 0.0, 'neu': 0.898, 'pos': 0.102, 'comp...",0.3818,0.000,0.102,population growth united states crept along sl...,2019,12,0.690938

In [11]:
df['response.docs.pub_date'].groupby([df["response.docs.pub_date"], df["response.docs.pub_date"]]).agg('count')

response.docs.pub_date  response.docs.pub_date
1981-01-03              1981-01-03                1
1981-01-04              1981-01-04                5
1981-01-06              1981-01-06                1
1981-01-07              1981-01-07                1
1981-01-08              1981-01-08                2
                                                 ..
2019-12-18              2019-12-18                1
2019-12-23              2019-12-23                2
2019-12-24              2019-12-24                1
2019-12-30              2019-12-30                1
2019-12-31              2019-12-31                1
Name: response.docs.pub_date, Length: 7036, dtype: int64

response.docs.pub_date
    response.docs.pub_date  response.docs.pub_date...
Name: response.docs.pub_date, dtype: object

In [12]:
monthly_counts=df['response.docs.pub_date'].groupby([df['response.docs.pub_date'].dt.year.rename('year'), df['response.docs.pub_date'].dt.month.rename('month')]).agg({'count'})

In [13]:
yearly_counts=df['response.docs.pub_date'].groupby([df['response.docs.pub_date'].dt.year.rename('year')]).agg({'count'})

In [14]:
with pd.ExcelWriter('US_News_Articles_counts.xlsx') as writer:
    monthly_counts.to_excel(writer, sheet_name = 'monthly_counts', header = True )
    yearly_counts.to_excel(writer, sheet_name = 'yearly_counts', header = True )

In [17]:
df['response.docs.pub_date'].groupby([df['response.docs.pub_date'].dt.year.rename('year')]).agg({'count'})

      count
year
1981    371
1982    276
1983    199
1984    203
1985    258
1986    316
1987    255
1988    170
1989    196
1990    159
1991    178
1992    147
1993    220
1994    266
1995    239
1996    276
1997    316
1998    248
1999    277
2000    242
2001    320
2002    312
2003    268
2004    272
2005    283
2006    772
2007    594
2008    280
2009    278
2010    289
2011    239
2012    263
2013    389
2014    347
2015    373
2016    285
2017    429
2018    490
2019    363

In [5]:
df_Latino = pd.read_excel("US_Latino_News_Articles.xlsx")

In [6]:
monthly_counts=df_Latino['response.docs.pub_date'].groupby([df_Latino['response.docs.pub_date'].dt.year.rename('year'), df_Latino['response.docs.pub_date'].dt.month.rename('month')]).agg({'count'})

In [7]:
yearly_counts=df_Latino['response.docs.pub_date'].groupby([df_Latino['response.docs.pub_date'].dt.year.rename('year')]).agg({'count'})

In [8]:
with pd.ExcelWriter('US_Latino_News_Articles_counts.xlsx') as writer:
    monthly_counts.to_excel(writer, sheet_name = 'monthly_counts', header = True )
    yearly_counts.to_excel(writer, sheet_name = 'yearly_counts', header = True )

# Quartely counts

In [15]:
quarterly_counts_df_Latino=df_Latino['response.docs.pub_date'].groupby([df_Latino['response.docs.pub_date'].dt.year.rename('year'), df_Latino['response.docs.pub_date'].dt.quarter.rename('month')]).agg({'count'})

In [16]:
quarterly_counts_df_Latino

            count
year month
1981 1         26
     2         45
     3         60
     4         51
1982 1         24
...           ...
2018 4         25
2019 1         14
     2         29
     3         20
     4          8

[156 rows x 1 columns]

In [19]:
quarterly_counts_US = df['response.docs.pub_date'].groupby([df['response.docs.pub_date'].dt.year.rename('year'), df['response.docs.pub_date'].dt.quarter.rename('quarter')]).agg({'count'})

              count
year quarter
1981 1           84
     2           80
     3          111
     4           96
1982 1           68
...             ...
2018 4          105
2019 1           72
     2          117
     3          105
     4           69

[156 rows x 1 columns]

In [20]:
with pd.ExcelWriter('Quarterly_counts_Data.xlsx') as writer:
    quarterly_counts_df_Latino.to_excel(writer, sheet_name = 'quarterly_counts_latino', header = True )
    quarterly_counts_US.to_excel(writer, sheet_name = 'quarterly_count_US', header = True )